body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home {
  background-image: url('/images/cinema.jpg');
}

.movie-card{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#showtime {
  display: flex;
  flex-direction: row;
}